beautifulsoup4==4.12.3
certifi==2025.7.9
charset-normalizer==3.4.2
defusedxml==0.7.1
html5lib==1.1
idna==3.10
pathvalidate==3.3.1
python-frontmatter==1.0.0
PyYAML==6.0.1
requests==2.32.4
scrapetube @ git+https://github.com/dmurph/scrapetube@ce03a1d3201ed25b619497d520b1eee92e7a04d9
six==1.17.0
soupsieve==2.8
typing_extensions==4.14.1
urllib3==2.5.0
webencodings==0.5.1
youtube-transcript-api==1.1.1
yt-dlp==2025.6.30
unidecode
nltk
thefuzz==0.22.1
youtube_api_tools @ git+https://github.com/dmurph/YouTube-Data-API-v3-Tools@main
